body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the links inside the navigation bar https://www.w3schools.com/howto/howto_js_topnav.asp*/
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover https://www.w3schools.com/howto/howto_js_topnav.asp*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link https://www.w3schools.com/howto/howto_js_topnav.asp*/
.topnav a.active {
  background-color: #6F8AB7;
  color: white;
}


/*CSS Card Layout Formatting from https://www.w3schools.com/howto/howto_css_cards.asp*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  /*padding: 15px;*/
  float: left;
  margin: 5px 10px;
}

img {
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

/*Used for formatting card layout https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


h1{
  text-align: center;

}

#disclaimer{
  background-color: yellow;
}

/*Make headings dark blue*/
h2{
  background-color: #6F8AB7;  
  color: white;
  padding: 15px;
}

/*Center text on website*/
.center{
  text-align: center;
  margin: auto auto auto auto;
  background-color: #CAE5FF;

}
/*display text and picture in one block */
.together{
  display: inline-block;
}

/*Grid Container for columns from */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  
  padding: 10px;
}

.grid-container > div {
  
  border: 1px solid black;
  
  font-size: 20px;
  background-color:  white;
  padding: 20px;
  
}

/*Add Background Image*/
.background1{
  background-image: url("../images/mamaGphoto.jpg");
  
}

.backgroundText{
  width: 300px;
  border: 1 px solid black;
  padding: 20px;
  margin: 20px ;
  background-color: #CAE5FF;
  text-align: center;
  margin: auto;
  opacity: 0.9;

}
.centerContact{
  text-align: center;
 
}

/*Add Responsive Image Grid, from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp  */
.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  flex: 30%;
  max-width: 30%;
  padding: 0 10px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    flex: 100%;
    max-width: 100%;
  }
}

/*Responsive Image Overlay made using:  https://www.w3schools.com/howto/howto_css_image_overlay_title.asp*/
.container {
  position: relative;
  
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

/*Footer adapted from Take Home Exam 2*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #6F8AB7;
   color: white;
   text-align: center;
}
